# Import stuff

In [1]:
from magic_package import scraper, feature_helper

# download & scrape data

In [2]:
df = scraper.get_data(verbose=1)

100%|██████████| 20/20 [01:02<00:00,  3.11s/it]

In [3]:
df.columns

Index(['title', 'rating', 'n_rating', 'n_oscar'], dtype='object')

In [4]:
rating_col = 'rating'
n_rating_col = 'n_rating'
n_oscar_col = 'n_oscar'

In [5]:
df['n_oscar'] = df['n_oscar'].astype('int32')

# feature eng

In [6]:
df['rating_calculated'] = df.apply(lambda x: feature_helper.rating_review_adjuster(x[rating_col], x[n_rating_col]), axis=1)
df['oscar_value'] = df.apply(lambda x: feature_helper.oscar_value(x[n_oscar_col]), axis=1)

In [8]:
df['final_value']  = df['rating_calculated'] + df['oscar_value']

In [9]:
df

,title,rating,n_rating,n_oscar,rating_calculated,oscar_value,final_value
0,The Shawshank Redemption,9.3,26000000,0,9.3,0.0,9.3
1,The Godfather,9.2,18000000,3,9.2,0.5,9.7
2,The Dark Knight,9.1,25000000,2,9.1,0.3,9.4
3,The Godfather: Part II,9.0,12000000,6,9.0,1.0,10.0
4,12 Angry Men,9.0,757000,0,7.4,0.0,7.4
5,Schindler's List,9.0,13000000,7,9.0,1.0,10.0
6,The Lord of the Rings: The Return of the King,9.0,18000000,11,9.0,1.5,10.5
7,Pulp Fiction,8.9,20000000,1,8.9,0.3,9.2
8,The Lord of the Rings: The Fellowship of the Ring,8.9,18000000,4,8.9,0.5,9.4
9,"Il buono, il brutto, il cattivo",8.8,738000,0,7.1,0.0,7.1
10,Forrest Gump,8.8,20000000,6,8.8,1.0,9.8
11,Fight Club,8.8,20000000,0,8.8,0.0,8.8
12,Inception,8.8,22000000,4,8.8,0.5,9.3
13,The Lord of the Rings: The Two Towers,8.8,16000000,2,8.8,0.3,9.1
14,The Empire Strikes Back,8.7,12000000,2,8.7,0.3,9.0
15,The Matrix,8.7,18000000,4,8.7,0.5,9.2
16,Goodfellas,8.7,11000000,1,8.7,0.3,9.0
17,One Flew Over the Cuckoo's Nest,8.7,977000,5,7.3,0.5,7.8
18,Se7en,8.6,16000000,0,8.6,0.0,8.6
19,Shichinin no samurai,8.7,337000,0,6.6,0.0,6.6